#GameOverview-container{
	margin-top:5%;
}

#LaneOpponent{
	margin-top:70px;

}
.chart rect {
  fill: blue;
}
.chart rect:hover {
  fill: brown;
}

.chart text {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.axis path {
  display: none;
}

.axis line {
  stroke: #fff;
  stroke-opacity: .5;
  shape-rendering: crispEdges;
}
		