#GameOverview-container{
	margin-top:5%;
}

#LaneOpponent{
	margin-top:70px;

}

.bar:hover {
  fill: brown;
}

.axis  {
  fill: none;
  stroke: #000;
  stroke-width: 3; 
  shape-rendering: crispEdges;
}

#leftplayer{
	margin-left:80px;

}

#rightplayer{
	margin-right:110px;
}

.champ1{
	float:left;
	margin-left:4px;
}

.champ2{
	float:right;
}

#champleft{
	float:left;
}
	
#champswitch{
	margin-top: 39px;
	margin-left: 3px;
	float:left;
}

#champswitch2{
	margin-top: 39px;
	margin-right: 3px;
	float:right;
}

.champselcetion{
	position:absolute;
	z-index:2;
	width:512px;
	margin-left: 137px;
}
.champselcetion2{
	position:absolute;
	z-index:2;
	margin-left: 617px;
}
.tooltip {
  position: absolute;
  text-align: center;
  width: 90px;
  height: 31px;
  padding: 8px;
  font: 15px sans-serif;
  background: #ddd;
  border: solid 1px #aaa;
  border-radius: 6px;
  pointer-events: none;
}











