#inputs{
	padding-left:15px;
	padding-top: 8px;
	height:38px;
	
	
}
#sumName{
	padding-top:2px;
	width: 300px;
	float:left;
}

#server{
	padding-left:5px;
	padding-top:2px;
	width: 80px;
	float:left;
}
#button{
	padding-left:5px;
	margin-bottom: 2px;
	float:left;
}
