{{Data_RecentGames.SumName}}
<br>
<br>
<br>
<br>
<div id="template" style="height:100%">
		<div id="show_test">
		</div>
		<div id="sumInfo" class="container">
			<div id="sumIcon">
			
			</div>
		</div>
		<div id="matchhistory" class="container">
	
		</div>
		<div id="matchhistory" class="container">
	
		</div>
		<div id="matchhistory" class="container">
	
		</div>
		<div id="matchhistory" class="container">
	
		</div>
		<div id="matchhistory" class="container">
	
		</div>
		<div id="matchhistory" class="container">
	
		</div>
		<div id="matchhistory" class="container">
	
		</div>
		<div id="matchhistory" class="container">
	
		</div>
		<div id="matchhistory" class="container">
	
		</div>
		<div id="matchhistory" class="container">
	
		</div>
	</div>