<!DOCTYPE html>
<html lang="en">
  <head>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="css/matchhistory.css">
	<link rel="stylesheet" href="css/GameDetails.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <title>LOL - Diplomarbeit</title>
  </head>
  <body ng-app="sampleApp" id="body">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#Home">Home</a></li>
            <li><a href="#About">About</a></li>
            <li><a href="#Contact">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" ng-controller="NavBarCRL">
            <li id="sumName"><input ng-model="SumName" placeholder="Enter Summoner Name" class="form-control" type="text"></li>
            <li id="server"><select id="ServName" ng-model="ServName" class="form-control">
				<option value="euw">EUW</option>
				<option value="na">NA</option>
				<option value="eue">EUE</option>
				<option value="eu">RU</option>
			</select></li>
            <li>
			<input ng-click="handleClick()" id="Hit_it" class="btn btn-danger " type="submit" value="HIT IT !">
			</li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
	<br/>
	<br/>
	<div id="ng-view" ng-view></div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
	<script src="//labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="Controller/app.js"></script>
	<script src="directive/differentscharts.js"></script>
	<script src="directive/chartsovertime.js"></script>
	<script src="directive/changechampions.js"></script>
	<script src="Controller/homeCRL.js"></script>
	<script src="Controller/GameDetailsCRL.js"></script>
	<script src="Controller/NavBarCRL.js"></script>
	<script src="Controller/AboutCRL.js"></script>
	<script src="Controller/RecentGamesCRL.js"></script>
	
	</body>
</html>