<!DOCTYPE html>
<html lang="en">
  <head>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/matchhistory.css">
    <title>AngularJS Routing example</title>
  </head>
 
  <body ng-app="sampleApp">
  <nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">WebSiteName</a>
			</div>
			<div>
				<ul class="nav navbar-nav">
					<li><a href="#Home">Home</a></li>
					<li><a href="#About">About</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>
		<div id="inputs" ng-controller="NavBarCRL" >
		<p id="p">Enter Summoner name:</p>
		<div id="sumName" >
			<input id="ex3" ng-model="SumName" placeholder="Enter a name here" class="SumName form-control input-sm" type="text">
			</div>
			<div id="server" ">
			<select id="ServName" ng-model="ServName" class="form-control input-sm" class="col-sm-1">
				<option value="euw">EUW</option>
				<option value="na">NA</option>
				<option value="eue">EUE</option>
				<option value="eu">RU</option>
			</select>
		
			</div>
			<div id="button">
			<a href="#RecentGames">
			<input ng-click="handleClick()" id="Hit_it" class="btn btn-danger " type="submit" value="HIT IT !">
			</a>
			</div>
		</div>			
		</div>
	</nav>
	<br>
	<br>
	<br>
	<br>
	<div class="col-md-9">
		<div ng-view></div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="app.js"></script>
	<script src="Controller/homeCRL.js"></script>
	<script src="Controller/NavBarCRL.js"></script>
	<script src="Controller/AboutCRL.js"></script>
	<script src="Controller/RecentGamesCRL.js"></script>
  </body>
</html>


