<div id="template" style="height:100%">
	<div id="About-container" class="container ">
		<div id="About"class=" jumbotron col-md-6">
		   
			<h1>  <span class="glyphicon glyphicon-user" aria-hidden="true"></span> About us :</h1>
			<p> We are just two League of Legends fans who decided to create their own Website to help people analysing their gameplay</p>
			
			
			</div>
			
			<div class="Like col-md-4">
			<div class="Like " >
			<p>If you are enjoying our website check out our Facebook page and leave a like!!</p>
			
			<iframe style="width:310px;height:271px;" src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FMatchUpLeague&amp;layout=box_count&amp;show_faces=true&amp;action=like&amp;colorscheme=light" id="lkbtn" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
			<p>You can also follow us on Twitter !!</p>
			
			<a href="https://twitter.com/MatchUpLeague" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @MatchUpLeague</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</div>

         </div>
		 <div class="Donate container col-md-8 col-md-offset-1" >
			<p>If you want to keep this site alive, we would be happy if you donate. We are trying to make this Website Ad-free, but just for now we can't afford it.</p>
			
    			<div class="Donate_Button col-md-offset-5" >
    			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="CZPCBTB6M2LXN">
                    <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
                    <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
                </form>
                </div>
                
                <!-- <div> <p>Top Donators are listed below : </p> <p>Fred_Dakota    5$</p></div> -->
            </div>
		
	</div>
</div>
