<div id="template" style="height:100%">
<div id="Contact-container" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2> <span class="glyphicon glyphicon-education"></span></i> Feedback &amp; Idea Suggestions</h2>
            <p>If you have general feedback, or if you have an idea for our webside you would like to see on MachUpLeague, please email us at:</p>
            <p><strong><a href="mailto:feedback@matchupleague.com">feedback@matchupleague.com</a></strong></p>
            <h2><i class="glyphicon glyphicon-envelope"></i> Help Requests</h2>
            <p>If you need help, or if you are experiencing a bug and can't find an answer, please email us at:</p>
            <p><strong><a href="mailto:support@matchupleague.com">support@matchupleague.com</a></strong></p>
        </div>
    </div>
</div>
</div>