
<div id="GameOverview-container" class="container" style="background-image:url(Libraries/Background/Try2.png);background-repeat: no-repeat;height:1140px;background-position: center; ">
	<div id="LaneOpponent" class="row">
		
		<div class="col-md-2 col-md-offset-1">
		<div>
		<span change  popover-label="hallo"> </span>
		</div>
		</div>
		
		<div class="col-md-2 col-md-offset-6">
		<img style="heigth:128px; width:128px;" src="Libraries/img/champion/{{GameInfoOverview.championId}}.png">
		</div>		
	</div>
	<div>
		<div style="margin-left : 5%; width:40%; float:left;">
		<differentscharts left-player="{{ShowLeft}}" right-player="{{ShowRight}}">
			<svg class="chart"></svg>
		</differentscharts>
		</div>
		<div style="margin-left : 5%; width:40%; float:right;">
		<differentscharts left-player="{{ShowLeft}}" right-player="{{ShowRight}}">
			<svg class="chart1"></svg>
		</differentscharts>
		</div>
		<input ng-click="changeChart()" id="ChartChanger" class="btn btn-danger " type="submit" value="Change CHart">
	</div>
</div>
