
<div id="GameOverview-container" class="container" style="background-image:url(Libraries/Background/Try2.png);background-repeat: no-repeat;height:1140px;background-position: center; ">
	<div id="LaneOpponent" class="container" >
		
		<div change id="leftplayer">
		
		<img id="champleft" style="heigth:128px; width:128px;" src="Libraries/img/champion/{{GameInfoOverview.championId}}.png"> 
		<img id="champswitch" ng-hide="toggleValue" style="heigth:128px; width:50px;" src="Libraries/Background/arrow1.png">
		<div class="champselcetion" ng-show="toggleValue">
			<img class="champ1" style="heigth:64px; width:64px;" src="Libraries/img/champion/{{GameInfoOverview.championId}}.png">
			<img class="champ1" style="heigth:64px; width:64px;" src="Libraries/img/champion/{{GameInfoOverview.championId}}.png">
			<img class="champ1" style="heigth:64px; width:64px;" src="Libraries/img/champion/{{GameInfoOverview.championId}}.png">
			<img class="champ1" style="heigth:64px; width:64px;" src="Libraries/img/champion/{{GameInfoOverview.championId}}.png">
		</div>
		</div>
		
		<div id="rightplayer">
		<img class="champ2" style="heigth:128px; width:128px;" src="Libraries/img/champion/{{GameInfoOverview.championId}}.png">
		<img change id="champswitch2" ng-hide="toggleValue" style="heigth:128px; width:50px;" src="Libraries/Background/arrow3.png">
		<div class="champselcetion2" ng-show="toggleValue">
			<img class="champ1" style="heigth:64px; width:64px;" src="Libraries/img/champion/{{GameInfoOverview.championId}}.png">
			<img class="champ1" style="heigth:64px; width:64px;" src="Libraries/img/champion/{{GameInfoOverview.championId}}.png">
			<img class="champ1" style="heigth:64px; width:64px;" src="Libraries/img/champion/{{GameInfoOverview.championId}}.png">
			<img class="champ1" style="heigth:64px; width:64px;" src="Libraries/img/champion/{{GameInfoOverview.championId}}.png">
		</div>
		</div>		
	</div>
	<div>
		<div style="height: 300px; width:100%;">
		<div style="margin-left : 12%; float:left;">
		<differentscharts left-player="ShowLeft">
			<svg class="chartLeft"></svg>
		</differentscharts>
		</div>
		<div style="margin-left :1%; width:50%; float:left;">
		<differentscharts right-player="ShowRight">
			<svg class="chartRight" ></svg>
		</differentscharts>
		</div>
		</div>
		<div style="float:left; margin-top:2%; margin-left:35%;">
		<input ng-click="changeChartLeft()" id="ChartChanger" class="btn btn-danger " type="submit" value="Change Cart Left">
		<input ng-click="changeChartRight()" id="ChartChanger" class="btn btn-danger " type="submit" value="Change Cart Right">
		</div>
	</div>
</div>
