
<div id="GameOverview-container" class="container" style="background-image:url(Libraries/Background/Try2.png);background-repeat: no-repeat;height:1140px;background-position: center; ">
	<div id="LaneOpponent" class="row">
		
		<div class="col-md-2 col-md-offset-1">
		<div change>
		<img style="heigth:128px; width:128px;" src="Libraries/img/champion/{{GameInfoOverview.championId}}.png"> 
		<img style="heigth:128px; width:128px;" src="">
		</div>
		</div>
		
		<div class="col-md-2 col-md-offset-6">
		<img style="heigth:128px; width:128px;" src="Libraries/img/champion/{{GameInfoOverview.championId}}.png">
		</div>		
	</div>
	<div>
		<div style="height: 300px; width:100%;">
		<div style="margin-left : 12%; float:left;">
		<differentscharts left-player="{{ShowLeft}}" right-player="{{ShowRight}}">
			<svg class="chartLeft"></svg>
		</differentscharts>
		</div>
		<div style="margin-left :1%; width:50%; float:left;">
		<differentscharts left-player="{{ShowLeft}}" right-player="{{ShowRight}}">
			<svg class="chartRight" ></svg>
		</differentscharts>
		</div>
		</div>
		<div style="float:left; martgin-top:2%;">
		<input ng-click="changeChart()" id="ChartChanger" class="btn btn-danger " type="submit" value="Change CHart">
		</div>
	</div>
</div>
