<div id="template" style="height:100%">
	<div id="Home-container" class="container">
		
		<div class="place-holder jumbotron text">
			<h1>Home</h1>
			<p>This side is still under maintenance!</p>
			<p>Later on you will be able to find some basic infomation on this front page! </p>
			<p>Enter your Summonername and Sever in the right upper corner and select a game of your Matchhistory !</p>
			<!-- <img src="http://matchupleague.com/Libraries/Background/ToolBox.png" width="400" height="350" alt="Hund" style="margin-left:100px"> -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Home-Seite Werbeblock
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2540891193578589"
     data-ad-slot="1340305759"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
 -->
</script>
		</div>
		
		
	</div>
</div>

