<div id="GameOverview-container" class="container">
   <div id="Show_and_Hide_GameDetails" ng-hide="ShowGameDetails">
      <div id="LaneOpponent" class="container clearfix"  >
         <div champ-selection players-left="othersleft" selected-left="leftplayerselected" data-method="UpdateCharts" class="champ-selection left">
            <div class="champimage1">
               <img class="champion" style="heigth:128px; width:128px;" src="Libraries/img/champion/{{selectedLeft.championId}}.png">
            </div>
            <a class="open" ng-hide="isVisible"><img style="heigth:64px; width:32px;" src="Libraries/Background/arrow1.png"></a>
            <ul class="selector leftlist" ng-show="isVisible">
               <li ng-repeat="player in playersLeft"><img class="{{player.championId}}" style="heigth:64px; width:64px;" src="Libraries/img/champion/{{player.championId}}.png"></li>
            </ul>
         </div>
         <div champ-selection players-right="othersright" selected-right="rightplayerselected" data-method="UpdateCharts" class="champ-selection right">
            <div class="champimage2">
               <img class="champion" style="heigth:128px; width:128px;" src="Libraries/img/champion/{{selectedRight.championId}}.png">
            </div>
            <a class="open" ng-hide="isVisible"><img style="heigth:64px; width:32px;" src="Libraries/Background/arrow2.png"></a>
            <ul class="selector rightlist" ng-show="isVisible">
               <li ng-repeat="player in playersRight"><img class="{{player.championId}}" style="heigth:64px; width:64px;" src="Libraries/img/champion/{{player.championId}}.png"></li>
            </ul>
         </div>
      </div>
      <div>
         <div style="height: 200px; width:100%; margin-top:2%;">
            <div style="margin-left : 12%; float:left;">
               <differentsdealt left-player="ShowLeft">
                  <svg class="chartLeftdifferentsdealt"></svg>
               </differentsdealt>
            </div>
            <div style="margin-left :0%; width:50%; float:left;">
               <differentsdealt right-player="ShowRight">
                  <svg class="chartRightdifferentsdealt" ></svg>
               </differentsdealt>
            </div>
         </div>
		 <div style="height: 200px; width:100%;">
            <div style="margin-left : 12%; float:left;">
               <differnetsdealtchamp left-player="ShowLeft">
                  <svg class="chartLeftdiffernetsdealtchamp"></svg>
               </differnetsdealtchamp>
            </div>
            <div style="margin-left :0%; width:50%; float:left;">
               <differnetsdealtchamp right-player="ShowRight">
                  <svg class="chartRightdiffernetsdealtchamp" ></svg>
               </differnetsdealtchamp>
            </div>
         </div>
		 <div style="height: 200px; width:100%;">
            <div style="margin-left : 12%; float:left;">
               <differnetstaken left-player="ShowLeft">
                  <svg class="chartLeftDiffernetsTaken"></svg>
               </differnetstaken>
            </div>
            <div style="margin-left :0%; width:50%; float:left;">
               <differnetstaken right-player="ShowRight">
                  <svg class="chartRightDiffernetsTaken" ></svg>
               </differnetstaken>
            </div>
         </div>
		 
      </div>
      <div id="OverTimeCharts">
         <input ng-click="CreepsFarmedUpdate()" id="ChartChanger" class="btn btn-danger" type="submit" value="Creeps farmed" style="margin-left : 230px">
         <input ng-click="GoldGainedUpdate()" id="ChartChanger" class="btn btn-danger " type="submit" value="Gold gained">
         <input ng-click="XpGainedUpdate()" id="ChartChanger" class="btn btn-danger " type="submit" value="Xp gained">
         <chartsovertime show-data="InputOverTime">
            <svg class="OverTime"></svg>
         </chartsovertime>
		<div class="SelectChamps1">
			<div ng-repeat="ChampsSelect in GameInfoTimeLine.participants |  filter: { teamId: '100' }" class="ChampsForOverTimeCharts">
				<img class="ChampInChampselectForChart" style="heigth:32px; width:32px;" src="Libraries/img/champion/{{ChampsSelect.championId}}.png" ng-click="ChampSelectForTimeCharts($index,100)"></li>
				<div class="CheckColor" ng-hide="Hide($index,100)">
				</div>
			</div>
		</div>
		<div class="SelectChamps2">
			<div ng-repeat="ChampsSelect in GameInfoTimeLine.participants |  filter: { teamId: '200' }" class="ChampsForOverTimeCharts">
				<img class="ChampInChampselectForChart" style="heigth:32px; width:32px;" src="Libraries/img/champion/{{ChampsSelect.championId}}.png" ng-click="ChampSelectForTimeCharts($index,200)"></li>
				<div class="CheckColor" ng-hide="Hide($index,200)">
				</div>
			</div>
		</div>
      </div>
	  <div id="MatchBoard">
		<div class="PlayersLeft_MatchBoard">
			<div class="Player_MatchBoard_Leftside"  ng-repeat="item in MatchBoardDummy | filter: { teamId: '100' } ">
				<img class="img-responsive ChampionIcon_48_left PartID{{item.Id}}" alt="Responsive image" src="Libraries/img/champion/{{item.championId}}.png">
				<div class="ItemSlot_Leftside PartID{{item.Id}}">
					<div class="UpperRow">
					<img class="img-responsive MatchBoard_ItemSlot" alt="Responsive image" src="Libraries/img/item/{{item.Items[1]}}png">
					<img class="img-responsive MatchBoard_ItemSlot" alt="Responsive image" src="Libraries/img/item/{{item.Items[2]}}png">
					<img class="img-responsive MatchBoard_ItemSlot" alt="Responsive image" src="Libraries/img/item/{{item.Items[3]}}png">
					</div>
					<div class="LowerRow">
					<img class="img-responsive MatchBoard_ItemSlot" alt="Responsive image" src="Libraries/img/item/{{item.Items[4]}}png">
					<img class="img-responsive MatchBoard_ItemSlot" alt="Responsive image" src="Libraries/img/item/{{item.Items[5]}}png">
					<img class="img-responsive MatchBoard_ItemSlot" alt="Responsive image" src="Libraries/img/item/{{item.Items[6]}}png">
					</div>
				</div>
				<div class="TrinketSlot_Leftside PartID{{item.Id}}">
					<img class="img-responsive MatchBoard_ItemSlot" alt="Responsive image" src="Libraries/img/item/.png">
				</div>
				<div class="Playerstats_MachBoard_Leftside  PartID{{item.Id}}">
				{{item.Kills}}/{{item.Assists}}/{{item.Deaths}}		
				</div>
				<div class="MatchboardCreeps_left PartID{{item.Id}}">
				Creeps: {{item.Minions}}
				</div>
				<div class="MatchboardLevel_left PartID{{item.Id}}">
				Level: {{item.Level}}
				</div>
            </div>
		</div>
		<div class="PlayersRight_MatchBoard">
			<div class="Player_MatchBoard_Rightside"  ng-repeat="item in MatchBoardDummy  | filter: { teamId: '200' } ">
				<img class="img-responsive ChampionIcon_48_right PartID{{item.ID}}" alt="Responsive image" src="Libraries/img/champion/{{item.championId}}.png">
				<div class="ItemSlot_Rightside PartID{{item.Id}}">
					<div class="UpperRow">
					<img class="img-responsive MatchBoard_ItemSlot" alt="Responsive image" src="Libraries/img/item/{{item.Items[1]}}png">
					<img class="img-responsive MatchBoard_ItemSlot" alt="Responsive image" src="Libraries/img/item/{{item.Items[2]}}png">
					<img class="img-responsive MatchBoard_ItemSlot" alt="Responsive image" src="Libraries/img/item/{{item.Items[3]}}png">
					</div>
					<div class="LowerRow">
					<img class="img-responsive MatchBoard_ItemSlot" alt="Responsive image" src="Libraries/img/item/{{item.Items[4]}}png">
					<img class="img-responsive MatchBoard_ItemSlot" alt="Responsive image" src="Libraries/img/item/{{item.Items[5]}}png">
					<img class="img-responsive MatchBoard_ItemSlot" alt="Responsive image" src="Libraries/img/item/{{item.Items[6]}}png">
					</div>
				</div>
				<div class="TrinketSlot_Rightside PartID{{item.Id}}">
					<img class="img-responsive MatchBoard_ItemSlot" alt="Responsive image" src="Libraries/img/item/{{item.trinket}}png">
				</div>
				<div class="Playerstats_MachBoard_Rightside PartID{{item.Id}}">
				{{item.Kills}}/{{item.Assists}}/{{item.Deaths}}	
				</div>
				<div class="MatchboardCreeps_right PartID{{item.Id}}">
				Creeps: {{item.Minions}}
				</div>
				<div class="MatchboardLevel_right PartID{{item.Id}}">
				Level: {{item.Level}}
				</div>
			</div>
		</div>
	  </div>
	  
   </div>
   <div id="LoadingSpinner" ng-show="ShowGameDetails"> </div>
</div>