{{Data_RecentGames.SumName}}
<div id="template" style="height:100%">
   <div id="game-container" class="container">
      <div  id="SumInfo" class="row">
         <div id="SumIcon" class="col-md-offset-1 col-md-2">
            <img class="img-responsive" alt="Not found" src="Libraries/img/profileicon/{{message.SumInfo[message.Name].profileIconId}}.png">
         </div>
         <div class="col-md-2 lvl">
            <p class="SumInfo">{{message.SumInfo[message.Name].name}} </p>
			<p class="SumInfo" >Level: {{message.SumInfo[message.Name].summonerLevel}} </p>
         </div>
      </div>
      <div  id="game{{$index}}" class=" col-md-12 win_{{item.stats.win}} game" ng-repeat="item in message.SumGames.games" ng-click="GameClick($index)">
         <div id="gamerow1" class="row">
            <div id="champIcon" class=" col-xs-2 col-sm-2 col-md-2 col-lg-2">
               <img class="img-responsive" alt="Not found" src="Libraries/img/champion/{{item.championId}}.png">
               <div id="sumSpells">
                  <div id="spell1" class="spells">
                     <img alt="Not found" class="img-responsive" src="Libraries/img/spell/{{item.spell1}}.png">
                  </div>
                  <div id="spell2" class="spells">
                     <img alt="Not found" class="img-responsive" src="Libraries/img/spell/{{item.spell2}}.png">
                  </div>
               </div>
            </div>
			
            <div id="item-container" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
               <div id="items">
                  
                     <img id="item0" class="img-responsive itemrow1 itemIcon" alt="Not found" src="Libraries/img/item/{{item.stats.item0}}.png">
                  
                     <img id="item1" class="img-responsive itemrow1 itemIcon" alt="Not found" src="Libraries/img/item/{{item.stats.item1}}.png">
                  
                     <img id="item2"class="img-responsive itemrow1 itemIcon" alt="Not found" src="Libraries/img/item/{{item.stats.item2}}.png">
                  
                     <img id="item3" class="img-responsive itemrow2 itemIcon" alt="Not found" src="Libraries/img/item/{{item.stats.item3}}.png">
                  
                     <img id="item4" class="img-responsive itemrow2 itemIcon" alt="Not found" src="Libraries/img/item/{{item.stats.item4}}.png">
                  
                     <img id="item5" class="img-responsive itemrow2 itemIcon" alt="Not found" src="Libraries/img/item/{{item.stats.item5}}.png">
                  
               </div>
               <div  id="trinket" class="itemIcon">
                  <img class="img-responsive" alt="Not found" src="Libraries/img/item/{{item.stats.item6}}.png">
               </div>
            </div>
			
			<div id="stats" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                  <p class="kda">{{ item.stats.championsKilled}}/{{item.stats.numDeaths}}/{{item.stats.assists}}</p>
            </div>
			
            <div id="fellowPlayers" class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
               <div  class="team1"  ng-repeat= "team1 in item.fellowPlayers |  filter: { teamId: '100' }" >
                  <img class="img-responsive" alt="Not found" style="width:64px;height:64px;" src="Libraries/img/champion/{{team1.championId}}.png">
               </div>
               <div  class="team2"  ng-repeat= "team2 in item.fellowPlayers |  filter: { teamId: '200' }">
                  <img class="img-responsive" alt="Not found" style="width:64px;height:64px;" src="Libraries/img/champion/{{team2.championId}}.png">
               </div>
            </div>
         </div>
      </div>
   </div>
</div>